@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.navbar {
    background: palevioletred;
    padding: 12px;
}

.navbar a {
    color:white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    max-width: 900px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1 {
    font-weight: bolder;
    font-size: 40px;
    color: steelblue;
    margin: 30px;
}

h2 {
    font-weight:bold;
    font-size: medium;
    color: steelblue;
    margin: 30px;
}

p {
    margin:30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    background: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.profile-grid { /*Alle elementen die behoren tot de diverse klasse profile-grid = de profile items.*/
    display: grid; /*Plaats deze elementen in een grid.*/
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /*Gebruik hiervoor een template: vul het aantal kolommen automatisch op, afhankelijk van de schermgrootte. Minimaal 140px breed, maximaal 1 fr (= verdeel ruimte tussen kolommen eerlijk indien ruimte over).*/
    gap: 20px; /*=Ruimte tussen de items.*/
    margin-top: 20px; /*Geef wat ruimte boven de items.*/

}

.profile-item {
    text-align: center; /*Alles binnen een item wordt gecentreerd.*/
}

.profile-item img {
    width: 100px; /*Foto is altijd 100x100.*/
    height: 100px;
    object-fit: cover; /*Zorgt ervoor dat de foto niet vervormt + juist bijgesneden.*/
    border-radius: 50%; /*Foto rond maken.*/
    display: block; /*Foto staat gecentreerd.*/
    margin: 0 auto 10px; /*Zorgt voor ruimte tussen foto en naam*/
}

.profile-item p {
    margin: 0;
    font-weight: bold;
    color: steelblue; /*Idem als h1 & h2*/
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top:20px;
}

.news-item {
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.news-item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-admin { /* Dit erft niet automatisch van .btn want het is een link... Dus manueel aanpassen*/
    background: palegreen;
    color: white;
    margin-right: 20px;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-admin:hover {
    background:darkgreen;
}

.btn-edit { /* Dit erft niet automatisch van .btn want het is een link... Dus manueel aanpassen*/
    background: steelblue;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-edit:hover {
    background: darkblue;
}

.btn-delete {
    background: palevioletred;
    color: white;
    border: none;

}

.btn-delete:hover {
    background: darkred;
}

.admin-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;

}
